/*--------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------
    VARIEBLES
--------------*/
:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}
/*--------------
    COMMON
--------------*/
.container {
    max-width: 71.25rem;
    padding: 0 1.25rem;
    margin: auto;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.space-between {
    justify-content: space-between;
}
.list-inline {
    display: flex;
    list-style: none;
}
.col {
    padding: 0 .625rem;
}
section {
    padding: 1.875rem 0;
}
/*--------------
    HEADER
--------------*/
header {
    background-color: var(--first-color);
    padding: 1.25rem 0;
    color: white;
}

.main-nav {
    display: none;
}

@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .main-nav {
        display: block;
    }
}
/*--------------
    MAIN
--------------*/
  /*Highlights*/
.card-debug {
    background-color: var(--first-color-light);
    height: 6.25rem;
}
.highlights .col {
    width: 100%;
    margin: .625rem 0;
}
.highlights .card-debug {
    margin: auto;
}
@media screen and (min-width:768px) {
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc((100% / 3) * 2);
    }
}
  /*Strategic*/
.strategic {
    background-color: var(--secondary-color);
}

.strategic .col {
    width: 100%;
    margin: .625rem 0;
}
@media screen and (min-width: 992px) {
    .strategic .col {
        width: calc(100% / 2 - 0.625rem);
    }
    .strategic .row:last-child {
        align-items: flex-end;
    }    
}
  /*Who we are*/
.whoweare .container {
    margin: auto;
    text-align: center;
}
.title {
    color: var(--secondary-color);
}
.whoweare .col {
    background-color: var(--secondary-color);
    color: white;
}
  /*Benefits*/

/*--------------
    FOOTER
--------------*/
