/*--------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------
    VARIEBLES
--------------*/
:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}
/*--------------
    COMMON
--------------*/
.container {
    max-width: 71.25rem;
    padding: 0 1.25rem;
    margin: auto;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.space-between {
    justify-content: space-between;
}
.list-inline {
    display: flex;
    list-style: none;
}
.col {
    padding: 0 .625rem;
}
section {
    padding: 1.875rem 0;
}
/*--------------
    HEADER
--------------*/
header {
    background-color: var(--first-color);
    padding: 1.25rem 0;
    color: white;
}
header .hamburger {
    background-color: var(--first-color);
    color: white;
    border: none;
    font-size: 1.5625rem;
    margin-right: 0.625rem;
}
.logo {
    margin-left: 0.625rem;
}
.main-nav {
    display: none;
}

@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .main-nav {
        display: block;
    }
}
/*--------------
    MAIN
--------------*/
  /*Highlights*/
.card-debug {
    background-color: var(--first-color-light);
    height: 6.25rem;
}
.highlights .col {
    width: 100%;
    margin: .625rem 0;
}
.highlights .card-debug {
    margin: auto;
}
@media screen and (min-width:768px) {
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc((100% / 3) * 2);
    }
}
  /*Strategic*/
.strategic {
    background-color: var(--secondary-color);
}

.strategic .col {
    width: 100%;
    margin: .625rem 0;
}
@media screen and (min-width: 992px) {
    .strategic .col {
        width: calc(100% / 2 - 0.625rem);
    }
    .strategic .row:last-child {
        align-items: flex-end;
    }    
}
  /*Who we are*/
.whoweare .container {
    margin: auto;
    text-align: center;
}
.title {
    color: var(--secondary-color);
}
.whoweare .col {
    background-color: var(--secondary-color);
    color: white;
}
  /*Benefits*/
.benefits {
    background-color: var(--secondary-color);
}
.benefits h2 {
    color: white;
}
.benefits .container {
    text-align: center;
}
.benefits .col {
    height: 100px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    margin: 1.875rem 0;
}
.benefits h2 {
    margin-bottom: 1.875rem;
}
@media screen and (min-width:768px) {
    .benefits .col {
        width: calc(100% / 2);
    }
}
@media screen and (min-width: 992px) {
    .benefits .col {
        width: calc(100% / 3);
    }
}
  /*About us*/
.aboutus h2, h3 {
    color: var(--secondary-color);
}
.aboutus button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: .625rem;
    border-radius: .9375rem;
}
@media screen and (min-width:768px) {
    .col-big {
        width: 60%;
    }
    .col-small {
        width: 40%;
    }
}
  /*Start*/
.start {
    background-color: var(--secondary-color);
    color: white;
}
.start span {
    color: #d5d4f4;
}
.start h3 {
    color: white;
    font-size: 1.875rem;
}
.start h2 {
    color: #fdc15f;
    font-size: 3.125rem;
}
.start .container {
    text-align: center;
}
.paragraph {
    max-width: 30rem;
    margin: auto;
}
/*--------------
    FOOTER
--------------*/
footer {
    background-color: #333333;
    color: white;
    padding: 2.1875rem 0;
    text-align: center;
}
footer .container a {
    color: var(--secondary-color);
}
footer .container p {
    margin-bottom: 4.0625rem;
}